configuration {
  sidebar-mode:  true;
  hide-scrollbar: true;
  kb-cancel: "Escape,Control+bracketleft";
  kb-mode-next: "Alt+Right,Shift+Right,Control+Tab";
  kb-mode-previous: "Alt+Left,Shift+Left,Control+ISO_Left_Tab";
  /* kb-row-select:; */
  modi: "run,filebrowser";
  combi-modi: "window,drun";
  show: "combi";
  monitor: "-4";
}
@theme "Arc-Dark"
